body
  padding: 0
  margin: 0
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif


.section
  background: #457fca;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 0px !important
  padding-bottom: 0px !important

a
  color: #00B7FF

#settings
  display: block
  text-align: center

.c
  background: #fff
  box-shadow: 0 0 10px rgba(0,0,0,0.3)
  display: block

.container
  overflow: hidden
  position: fixed
  z-index: 5
  bottom: 0
  right: 0
  width: 260px
  height: 160px

.box
  width: 60px
  height: 35px
  float: left
  background-color: #ccc
  margin-bottom: 3px

.a-box
  transition: background-color 1s ease
  background-color: #7e7e7e

.spacing
  margin-right: 3px
