<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/gest.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.fullPage.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.fullPage.css"/>
    <script src="/javascripts/jscolor.min.js"></script>
</head>
<body>
<img id="pointerImg" src="/images/pointer2.png" style="display: block; position:absolute; width: 2%; height: 3%; left: 0; top: 0; z-index: 100000"/>
<div id="fullpage">
    <div class="section">
        <div class="slide"><canvas id="specialCanvas" class="c can-lt-corner"></canvas></div>
        <div class="slide"><canvas class="c can-t"></canvas></div>
        <div class="slide"><canvas class="c can-t"></canvas></div>
        <div class="slide"><canvas class="c can-rt-corner"></canvas></div>
    </div>
    <div class="section">
        <div class="slide"><canvas class="c can-l"></canvas></div>
        <div class="slide"><canvas class="c"></canvas></div>
        <div class="slide"><canvas class="c"></canvas></div>
        <div class="slide"><canvas class="c can-r"></canvas></div>
    </div>
    <div class="section">
        <div class="slide"><canvas class="c can-l"></canvas></div>
        <div class="slide"><canvas class="c"></canvas></div>
        <div class="slide"><canvas class="c"></canvas></div>
        <div class="slide"><canvas class="c can-r"></canvas></div>
    </div>
    <div class="section">
        <div class="slide"><canvas class="c can-lb-corner"></canvas></div>
        <div class="slide"><canvas class="c can-b"></canvas></div>
        <div class="slide"><canvas class="c can-b"></canvas></div>
        <div class="slide"><canvas class="c can-rb-corner"></canvas></div>
    </div>
</div>

<div class="container">
  <div class="color-pick">
    <input class="jscolor" value="000000" onchange="update(this.jscolor)">
  </div>
  <div class="box spacing a-box"></div>
  <div class="box spacing"></div>
  <div class="box spacing"></div>
  <div class="box"></div>

  <div class="box spacing"></div>
  <div class="box spacing"></div>
  <div class="box spacing"></div>
  <div class="box"></div>

  <div class="box spacing"></div>
  <div class="box spacing"></div>
  <div class="box spacing"></div>
  <div class="box"></div>

  <div class="box spacing"></div>
  <div class="box spacing"></div>
  <div class="box spacing"></div>
  <div class="box"></div>
</div>
<script src='/javascripts/handscroll.js'></script>
<script src='/javascripts/draw.js'></script>
<script src='/javascripts/mapmove.js'></script>
<script type="text/javascript">
  setTimeout(function(){
    $('canvas').each(function() {
       if($(this).height()==224) {
         $(this).show();
         $(this).css('height', '200');
         $(this).css('position', 'fixed');
         $(this).css('top', '0');
         $(this).css('right', '0');
         $(this).css('opacity', '0.9');
       }
    })
  }, 3000);

</script>
</body>
</html>
