<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
</head>
<body>
<button id="download">Download PDF</button>
<div id="sketch">
    <canvas id="paint" class="letter"></canvas>
</div>
<script src='/javascripts/index.js'></script>
<script src='/javascripts/handscroll.js'></script>
</body>
</html>
