<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <div id="sketch">
      <canvas id="paint"></canvas>
  </div>
  <script src='/javascripts/index.js'></script>
  <script src='/javascripts/handscroll.js'></script>
</body>
</html>
